/* General styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

h5 {
    font-size: 1rem;
    font-weight: 300;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    color: #6e6e6e;
    font-size: 0.875rem;
    line-height: 1.3rem;
}

button,
.button {
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    border-radius: 5rem;
    border: none;
    background: var(--cl-background, #fff);
    color: var(--cl-text, #200);
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 700;
}

.hero {
    height: 100vh;
    width: 100%;
    margin: 0 0 1.6rem 0;
}

/* Nav */

header {
    width: 100vw;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;
}

.topbar {
    background-color: rgb(235, 235, 235);
    color: rgb(68, 68, 68);
    font-size: 0.875rem;
    padding-right: 0.625rem;
}

.topbar__container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
}

.topbar__item {
    list-style: none;
    border-right: 0.1rem solid rgb(210, 210, 210);
    padding: 0 1rem;
}

.topbar__item:last-child {
    border: none;
}

.topbar__link {
    display: flex;
}

.topbar__link img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
}

nav.main-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    justify-content: space-between;
    padding: 0.5rem 5%;
    width: 100%;
    position: relative;
}

nav.main-nav > img {
    width: 3rem;
}

nav.main-nav ul {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
    font-weight: 600;
}

nav.main-nav ul li img {
    height: auto;
    width: 1.25rem;
}

.hamburger-menu {
    display: none;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
}

/* Hero/first section */

.hero {
    background: url("../images/hero.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-height: 46rem;
    min-height: 100%;
    gap: 1.5rem;
}

.hero img {
    object-fit: contain;
    width: 100%;
    max-height: 12rem;
}

.hero h1 {
    position: relative;
    display: flex;
    object-fit: contain;
}

.hero img,
.hero a {
    position: relative;
}

.hero a:nth-of-type(2) {
    --cl-background: #53565a;
    --cl-text: #ffffff;
}

/* Second section */

.call-to-action {
    background: url("../images/header2-web.jpg") center/cover no-repeat;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    padding: 16rem 2rem;
}

.call-to-action p {
    font-size: 1.25rem;
    color: #fff;
}

.call-to-action a:nth-of-type(2) {
    --cl-background: #53565a;
    --cl-text: #ffffff;
}

.call-to-action .button {
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.call-to-action h2 {
    width: 90%;
}

.call-to-action a:nth-of-type(2) {
    --cl-background: #53565a;
    --cl-text: #ffffff;
}

/* Third section */

.hero-nieuwsbrief {
    background: url("../images/bg-nieuwsbrief-web.jpeg") center/cover no-repeat;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    padding: 12rem 2rem;
    margin-top: 1.5rem;
}

.hero-nieuwsbrief h3 {
    color: #fff;
}

.hero-nieuwsbrief a:nth-of-type(2) {
    --cl-background: #53565a;
    --cl-text: #ffffff;
}

.hero-nieuwsbrief  .button {
    margin-top: 0.5rem;
    margin-right: 1rem;
}


/* Fourth section */

.categories {
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(236, 236, 236, 1) 50%);
    height: 80%;
}

.categories ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.categories ol li:nth-child(even) a,
.categories ol li:nth-child(odd) a {
    margin: 0 .5rem;
}

.categories ol li {
    align-items: center;
    display: flex;
    height: 25rem;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
}

.categories ol li a {
    background: url("../images/Shop_womens_9839e90a-c15f-42d6-be1f-e98f047d1bbc_1440x.jpeg") center/cover no-repeat;
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    flex-direction: column;
    gap: 1.25rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
    text-align: center;
}

/* Fifth section */

.content {
    position: relative;
    text-align: left;
    background-color: #fff;
    padding: 1.3rem 2rem;
    margin: 2rem;
    border: 0.1rem solid #bbbcbc;
}

/* Sixth section */

.nieuwsletter {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 3rem;
    justify-content: center;
    padding: 2.5rem 0;
    position: relative;
    width: 100%;
}

/* Footer */

footer {
    background: #fff;
    color: #000;
    width: 100%;
    margin-top: 5rem;
    text-align: left;
    padding: 1.5rem;
}

footer summary {
    list-style: none;
    font-size: 0.9rem;
    font-weight: 700;
    border-top: 0.1rem solid rgb(210, 210, 210);
    padding: 1rem 0;
    text-transform: uppercase;
}

footer ul {
    top: 0;
    list-style: none;
    color: #53563a;
    padding: 0 0.25rem;
}

footer ul li {
    font-size: 0.875rem;
    padding: 0.25rem 0;
}

footer .slider {
    padding: 0;
    max-width: 750px;
    overflow-x: scroll;
    z-index: 1;
}

.slider__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    min-width: 37.5rem;
}

.slider-item {
    list-style: none;
    position: relative;
    width: 11rem;
    height: 8.75rem;
}

footer ol li:nth-child(1) {
    background: url("../images/blog.jpg") center/cover no-repeat;
}

footer ol li:nth-child(2) {
    background: url("../images/nieuwsbrief.jpg") center/cover no-repeat;
}

footer ol li:nth-child(3) {
    background: url("../images/training.jpg") center/cover no-repeat;
}

.slider-item a {
    display: block;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.6rem 1.2rem;
    height: auto;
    font-weight: 600;
    font-size: 0.75rem;
}

.social__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer .social img {
    max-height: 1.5rem;
    width: 100%;
    margin: 0 0.25rem;
}

.taal__container {
    padding: 0 0.25rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taal__link img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.taal__link {
    display: flex;
}

.links__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin: 1.5rem 0;
}

.links__item {
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgb(83, 86, 90);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.bankieren__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer .bankieren img {
    max-height: 1.25rem;
    width: 100%;
    margin: 0;
}

.bankieren__item {
    padding: 0 0.25rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-line {
    border-top: 0.1rem solid rgb(210, 210, 210);
    padding: 1rem 0;
}

.last-line a {
    position: relative;
    display: flex;
    font-size: 0.8rem;
    text-align: center;
    justify-content: center;
    color: rgb(68, 68, 68);
    line-height: 1.25rem;
}

/* Heren / first section */

.heren {
    background: url("../images/heren-web.jpg") center/cover no-repeat;
    height: 500px;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    padding: 10rem 6rem;
}

.heren h1 {
    font-size: 1rem;
}

.heren h2 {
    font-size: 2, 5rem;
    margin: 0;
}

.heren p {
    color: #fff;
    font-size: 1rem;
    margin: 2rem 0;
}

/* filter & sorteren */

.filteren-en-sorteren {
    display: none;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
}

.filter-en-sorteren__title  {
    left: 0;
    margin-left: 0.5rem;
}

.filteren-en-sorteren img {
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    padding-left: 0.5rem;
}

/* filter */

.filter {
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-in {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter__title {
    padding: 0.5rem;
}

.filter__dropdown img {
    width: 1.5rem;
    height: 1.2rem;
    margin-right: 0.3rem;
    color: gray;
}

.filter-dropdown {
    display: flex;
    padding: 1.5rem;
    color: rgb(110, 110, 110);
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    white-space: nowrap;
}

.filter-dropdown:hover {
    background-color: #f4f4f4;
}

.filter-dropdown__container {
    display: none;
    position: absolute;
    top: 2rem;
    left: 0;
    background-color: white;
}

.filter-dropdown__container--open {
    display: flex;
    background-color: rgb(245, 245, 245);
    position: absolute;
    z-index: 99;
    top: 2.75rem;
    align-items: center;
    justify-content: flex-start;
    border: 0.1rem solid rgb(231, 231, 231);
    border-radius: 0.4rem;
    padding-right: 2.5rem;
}

.filter-dropdown__item {
    list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 0.4rem 2.5rem;
    border: solid 0.1rem;
    margin: 0.875rem 0.5rem;
    border-radius: 0.4rem;
}

/* artikelen van gymshark */

.artikelen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

article {
    width: 25%;
}

.article-in {
    padding: 1rem;
}

article img {
    max-width: 100%;
}

.container {
    display: flex;
    margin-top: 1rem;
    gap: 0.3rem;
}

.container img {
    height: 0.8rem;
}

.korting {
    font-size: 11px;
    font-weight: 600;
    width: 50%;
    color: rgb(191, 46, 53);
    text-transform: uppercase;
}

.new-prijs {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 50%;
    text-align: right;
}

.tekst {
    display: flex;
    margin-left: 1rem;
}

.titel {
    font-size: 1rem;
    font-weight: 300;
    width: 50%;
    color:
}

.old-prijs {
    font-size: 0.875rem;
    font-weight: 300;
    color: #6e6e6e;
    width: 50%;
    text-align: right;
    text-decoration: line-through;
}

.ondertitel {
    display: flex;
    margin: 0.5rem 1rem;
}

.ondertitel__item {
    font-size: 0.75rem;
    color: #6e6e6e;
}

.artikel-button {
    align-items: center;
    background: #fff;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 3rem;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.ml-button {
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    border-radius: 5rem;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.ba-button {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    line-height: 2.1rem;
}

.bekijk-alles p {
    color: #444;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    line-height: 2.1rem;
}


/* Breakpoint #1 */

@media screen and (max-width: 990px) {
    h2, h3 {
        font-size: 1.875rem;
    }

    .topbar__item {
        padding: 0 0.5rem;
    }

    .topbar__nl {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 0.01rem;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 0.01rem;
    }

    .logo-gs {
        order: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-icons {
        order: 3;
    }

    nav.main-nav ul.nav-pages {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        top: 5rem;
        z-index: 1;
        background-color: white;
        padding: 1.5rem;
    }

    .hamburger-menu {
        display: block;
        order: 1;
    }

    .nav-pages.nav-pages--open {
        display: flex !important;
    }
    
    .categories ol li a {
        font-size: 1.5rem;
    }
    
    article {
        width: 33.333%;
    }
    
    .filter-dropdown__container--open {
        flex-direction: column;
    }
    
    .titel {
        font-size: 0.875rem;
    }
    
    .filter, .filter-dropdown {
        display: none;
    }
    
    .filteren-en-sorteren {
        display: block;
        margin-top: 1.5rem;
    }
    
    .ml-button {
        font-size: 0.875rem;
    }
    
}


/* Breakpoint #2 */

@media screen and (max-width: 700px) {
    h2, h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    
    p {
        font-size: 0.75rem;
    }

    .hero {
        background: url("../images/Dual_option_2_mobile.jpg") center/cover no-repeat;
        height: 90vh;
    }

    .hero img {
        max-height: 8rem;
        left: 0;
    }
    
    .call-to-action p {
        font-size: 1rem;
    }
    
    .categories ol li {
        width: 100%;
    }
    
    .content {
        margin: 1rem;
    }
    
    .nieuwsletter {
        padding: 3.5rem;
        text-align: center;
    }
    
    article {
        width: 50%;
    }
}

@media screen and (min-width: 700px) {
    .categories ol li {
        width: 50%;
    }
    
}

/* Breakpoint #3 */

@media screen and (max-width: 460px) {
    article {
        width: 100%;
    }
}

/* Breakpoint #1 */

/* @media (min-width:50em) {
  footer {
      
}
}
