/* General styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

button,
.button {
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  border-radius: 5rem;
  border: none;
  font-size: 13px;
  font-weight: 700;
  background: var(--cl-background, #fff);
  color: var(--cl-text, #000);
}

section {
  height: 100vh;
  width: 100%;
}

/* Hero/first section */
.hero {
  background: url("../images/landingsfoto.jpeg") center/cover no-repeat;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1.5rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero img {
  max-height: 15.5rem;
  object-fit: contain;
  width: 100%;
}

.hero img,
.hero a {
  position: relative;
}

.hero a:nth-of-type(2) {
  --cl-background: #53565a;
  --cl-text: #fff;
}

/* Second section */
.call-to-action {
  background: url("../images/3guys.jpeg") center/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}

.call-to-action > * {
  margin: 1rem 5%;
}

.call-to-action h2 {
  width: 100%;
}

.categories {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(236, 236, 236, 1) 50%
  );
  height: 80%;
}

.categories ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3.5rem 0.675rem;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 2.5% 0;
  width: 92.5%;
}

.categories ol li {
  align-items: center;
  background: url("../images/Shop_womens_9839e90a-c15f-42d6-be1f-e98f047d1bbc_1440x.jpeg")
    center/cover no-repeat;
  display: flex;
  height: 25rem;
  justify-content: center;
  width: 100%;
}

.categories ol li a {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 10rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 10;
  background: #ffffff;
}